tr{
    font-size: xx-large;

}
.tablo{
    border: 4px solid brown;
}
.baslik{
    border: 6px double brown;
    text-align: center;

}
.tablo{

}
.uceuclukkare{

}
.bireuclukkare{
    

}
.cerceve2{
    border: 2px solid brown;
    text-align: center;
}
.cerceve{
    border: 10px double brown;
    background-color: beige;

}
.hane{
    border: 2px solid brown;
    background-color: wheat;
}
